name: PHP Standards
on:
  push:
    branches:
      - 'main'
    paths:
      - '**.php'
      - '**.json'
  pull_request:
    branches:
      - '**'
    paths:
      - '**.php'
      - '**.json'

jobs:
  build:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: '8.3'
          coverage: none

      - name: Echo PHP & Composer versions
        run: |
          php --version
          php -m
          composer --version

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache PHP Dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install PHP Dependencies
        run: |
          composer install --prefer-dist --no-progress --no-suggest --no-interaction

      - name: Check the code for style issues
        run: |
          composer lint

      - name: Run the tests
        run: |
          composer test
        env:
          MYSQL_DATABASE: wordpress
          WP_TESTS_DB_PASS: root
